.container{
   width: 1170px;
   margin: 0 auto;
}
.d-flex{
   display: flex;
}
.d-center{
   display: flex;
   justify-content: center;
   align-items: center;
}
ul,ol{
   list-style: none;
   display: flex;
   justify-content: space-between;
}
body a, a:visited{
   color: #212121; 
}
body a:active{
   color: #2196F3;;
}
body,h1,h2,h3,h4,p,ul,li{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}
li{
   display: block;
}
img{
   max-width: 100%;
   display: block;
}
a{
   text-decoration: none;
}
/*start section header*/
.header{
   justify-content: space-between;
   height: 80px;
   align-items: center;
}
.logo_web{
   color: #2196F3;
}
.logo{
   font-family: 'Raleway', sans-serif;
   font-size: 26px;
   font-weight: 700;
   line-height: 31px;
   letter-spacing: 0.03em;
}
.nav_item{
   margin-left: 46px;
   font-size: 14px;
   font-weight: 500;
   line-height: 16px;
   letter-spacing: 0.02em;
}
.nav_menu{
   margin-right: 350px;
}
.menu_contacts a{
   color: #757575;
   font-weight: 500;
   font-size: 14px;
   line-height: 16;
}
.tel{
   margin-left: 50px;
}
.header_border{
   border-bottom: 1px solid #ECECEC;
}
/*start section one*/
.portfolio{
   padding-top: 94px;
   padding-bottom: 94px;
}
.nav_portfolio{
   margin-bottom: 50px;
}
.button:active{
   background-color: #2196F3;
   color: white;
}
.button{
   margin-top: 30px;
   border: none;
   cursor: pointer;
   color: #212121;
   background-color: #F5F4FA;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: 0.06em;
}
.btn{
   margin: 6px 22px;
}
.nav{
   justify-content: center;
}
.nav_item{
   margin-left: 8px;
}
.portfolio_item{
   width: 404x;
   height: 370px;
   background-color: #FFFFFF;
   text-align: left;
   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
   box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
   box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.item h4 {
   margin-top: 20px;
   color: #212121;
   margin-left: 24px;
}
.item p{
   margin-top: 4px;
   margin-left: 24px;
   color: #757575;
}
.portfolio_items{
   flex-wrap: wrap;
   align-content: space-between;
   gap: 30px;
}
/*start section footer*/
footer{
   background-color: #2F303A;
}
.footer{
   height: 252px;
   color: #FFFFFF;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.logo_footer a{
   color: #FFFFFF;
}
.logo_footer{
   margin-bottom: 20px;
}
.menu_contacts_footer a{
   color: rgba(255, 255, 255, 0.6);
}
.email_footer{
   margin-top: 9px;
}
.tel_footer{
   margin-top: 9px;
   margin-left: 0;
}